body {
    background-color: #000000;
    color: bisque;
    text-align: center;
    font-size: large;
}

.block {
    box-sizing: border-box;
    display: block;
    margin: 15px auto;
    border: 2px dotted burlywood;
    width: 500px;
    height: 50px;
    padding: 0px 210px;
}

#recipe-nav-container {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 0 0 10px 10px;
    margin: 0 30px 0 30px;
}

a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    filter: drop-shadow(0px 0px 5px rgb(228, 221, 146));
}

h3 + ul, h4 + ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid burlywood;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(21, 21, 21);
}

img {
    border: 3px solid burlywood;
    border-style: double;
    padding: 5px;
}

ol,li {
    text-align: left;
    margin-top: 12px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 0px 10px whitesmoke;
}

strong {
    display: inline-block;
    color: #000000;
    background-color: rgb(212, 176, 129);
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}